.css-qivjh0-MuiStepLabel-label.Mui-active{
    color:#4f234c !important; 
}

.css-16ubnlw-MuiStepLabel-labelContainer{
    color:#000000 !important;
}

.css-qivjh0-MuiStepLabel-label.Mui-completed{
    color:#05b2ab !important;
}

.line{ margin-top:3.6%;
     left:15%;
     right:15%;
     
      display: block;
    height: 9px;
        position: absolute;
        background-color:black;
         
}





.d{
    transition:0.4s ease-out;
    animation: 0.4s ease-out 0s opa;
    margin-top: 50px;
    
}
    

       
        @keyframes opa {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        @media (min-width: 768px) and (max-width: 979px) and (min-height:980px) { 

            .d{
                margin-top:80px;
            }
            .css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel{
                    font-size:20px;
            }
            .css-m3195t, .css-kg4a96, .css-azrp4b{
                width:65px !important;
                height:65px !important;
            }
            .css-lr0alj-MuiStepConnector-root.MuiStepConnector-alternativeLabel{
                margin-top:97px !important;
            }
            .css-12o5i44.MuiStepConnector-alternativeLabel{
                margin-top:97px !important;
            }
            
        }
        @media (max-width: 767px) and (min-height: 980px) { 
                
            .d{
                margin-top:80px;
            }
            .css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel{
                    font-size:16px;
            }  
            .css-m3195t, .css-kg4a96, .css-azrp4b{
                width: 75px !important;
                height:75px !important;
            }
            .css-lr0alj-MuiStepConnector-root.MuiStepConnector-alternativeLabel{
                margin-top:102px !important;
            }
            .css-12o5i44.MuiStepConnector-alternativeLabel{
                margin-top:102px !important;
            }
            
        }
        @media (max-width: 767px) and (min-height: 980px) { 
            .css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel{
                    font-size:16px;
            }  
        }

        @media (max-width: 530px) { 

            .css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel{
                font-size: 16px;
            }
            .css-lr0alj-MuiStepConnector-root.MuiStepConnector-alternativeLabel{
                margin-top:50px !important;
            }
            .css-12o5i44.MuiStepConnector-alternativeLabel{
                margin-top:50px !important;
            }
            
            .d{
                margin-top:40px;
            }
         }


         @media (min-width: 280px) and (max-width: 530px) and (min-height: 460px) and (max-height:680px){ 
            .d{
                margin-top:30px;
            }
            .css-lr0alj-MuiStepConnector-root.MuiStepConnector-alternativeLabel{
                margin-top:45px !important;
            }
            .css-12o5i44.MuiStepConnector-alternativeLabel{
                margin-top:45px !important;
            }
            .css-m3195t, .css-kg4a96, .css-azrp4b{
                width: 48px !important;
                height:48px !important;
            }
            .css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel{
                font-size:12px;
            }  
        }

        @media (min-width: 280px) and (max-width: 530px) and (min-height: 460px) and (max-height:680px){ 
            .d{
                margin-top:30px;
            }
            .css-lr0alj-MuiStepConnector-root.MuiStepConnector-alternativeLabel{
                margin-top:45px !important;
            }
            .css-12o5i44.MuiStepConnector-alternativeLabel{
                margin-top:45px !important;
            }
            .css-m3195t, .css-kg4a96, .css-azrp4b{
                width: 48px !important;
                height:48px !important;
            }
            .css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel{
                font-size:12px;
            }  
        }
