.css-qivjh0-MuiStepLabel-label.Mui-active{
    color:#4f234c !important;
}

.css-16ubnlw-MuiStepLabel-labelContainer{
    color:#000000 !important;
}

.css-qivjh0-MuiStepLabel-label.Mui-completed{
    color:#05b2ab !important;
}


.css-qivjh0-MuiStepLabel-label{
    font-family:"Circular" !important;
}