.stopCharging{
    justify-self: center;
    align-self: end;
    border-radius: 12px;
    background-color:#ea1b0a;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1), 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
  }
  .stopCharging:hover {
    background-color: red;
    box-shadow: 0px 15px 20px rgba(8, 220, 235, 0.2);
  }

  .stopCharging p{
    font-family: circular;
    font-variant: small-caps;
    font-size: 23px;
    margin-bottom:2px;
    color:#e7e7e7;
  }

  @media (min-width: 280px) and (max-width: 530px) and (min-height: 479px) and (max-height:668px){ 
    

    .stopCharging p{

      font-size: 6vw;

    }
  
      
  }
