
.form1c{
  height: 100%;
  width: 600px;
  display: grid;
  
}
#Form1{

  font-family: circular;
  transition:0.4s ease-out;
}

.btn-text{

  align-self: center;
  width:80%;
  margin-left:10%;

}

.btn-box{
            width:100%;
            height: 20vh;
            text-align: center;
            position: relative;
            display: grid;
            margin-top:5vh;
            background-color: #d7d7d7;
            border-radius: 15px;
            align-content:center;
            box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.15);
            
            
          }
         #Form1 .btn-box .continue{
            align-items: center; 
            margin-top:20px;
           
            
          }

          

.h1-custom{


            font-weight: 300;
            font-size:2em;
            text-align: center;
          }

.qrread{
  height:311px;
  margin-top:5vh;
  width:100%;
}
.qrread video{
  height:311px !important;
  object-fit: cover !important;
  border-radius:10px;
  animation: 0.4s ease-out 0s opa;
}
    

          @media screen and (max-width: 768px){
            .form1c{
                width:85vw;
            }
        
        }
        @keyframes opa {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      


